<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="localdb"
			 connectionString="Host=localhost;uid=root;pwd=root;database=client_schedule"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>